%h1= t("devise.resend_confirmation")

= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f|
  = devise_error_messages!
  = f.input :email

  .controls
    = f.submit t("devise.resend_confirmation"), class: "btn btn-primary"
    = render "devise/shared/links"