- suffix_get_children   ||= "/get_children.json"
- suffix_move_node      ||= "/move_node.json"
- suffix_change_state   ||= "/change_state.json"

- content_for :head do 
  :javascript
    var _txt_create               = '#{t("create")}';
    var _txt_delete               = '#{t("delete")}';
    var _txt_sure_delete          = '#{t("confirm_delete")}';
    var _txt_rename               = '#{t("rename")}';
    var _txt_edit                 = '#{t("edit")}';

    var tree_base_url             = "#{tree_base_url}";
    var suffix_get_children       = "#{suffix_get_children}";
    var suffix_move_node          = "#{suffix_move_node}";
    var suffix_change_state       = "#{suffix_change_state}";

  = stylesheet_link_tag "/jsTree/themes/apple/style.css"
  = javascript_include_tag "/jsTree/jquery.jstree.js"
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
  = javascript_include_tag "/jsTree.js"

  %script(type="text/javascript")
    = "var initial_data = #{root.tree_params.to_json};".html_safe