%h1= t("check_words")

.row
  - if @found
    .alert.alert-success.alert-block.span6
      .msg= t("word_found", :word => @word).html_safe
  - elsif @search.word.present?
    .alert.alert-error.alert-block.span6
      .msg= t("word_not_found", :word => @search.word).html_safe

= form_for :search, :url => chk_path, :html => { :method => :post, :class => "form-horizontal"} do |f|
  .control-group
    = f.text_field :word, :placeholder => t("enter_word"), :data => { :min_length => 2, :max_length => 15, :allowed_symbols => Game.char_list(@locale), :url => chk_path, :"select-all" => true }
  .control-group
    = f.submit t("check_word"), :class => "btn btn-success"