.control-group
  = f.label :first_name
  .controls
    = f.text_field :first_name

.control-group
  = f.label :last_name
  .controls
    = f.text_field :last_name 

- if is_new
  .control-group
    = f.label :password
    .controls
      = f.password_field :password  

.control-group
  = f.label :email
  .controls
    = f.text_field :email

.control-group
  = f.label :gender
  .controls
    %label.radio.inline
      = f.radio_button :gender, "m"
      = t("male")
    %label.radio.inline
      = f.radio_button :gender, "f"
      = t("female")

.control-group
  = f.label :birth_date
  .controls
    = f.text_field :birth_date, :year_range => -90.years.from_now..0.years.from_now, :class => "date_select"

- unless resource.new_record?
  .control-group
    = f.label :last_seen
    .controls
      %span= object.last_sign_in_at

.control-group
  .controls
    %label.checkbox
      = f.check_box :admin
      = t("admin")