= render :partial => "admin/shared/toolbar_button", :locals => {:text => tN(User), :link => new_object_url }

%h1= t2(User)

%table.zebra-striped.condensed-table
  %thead
    = form_for @search, :url => filter_admin_users_path, :html => {:id => "search_form", :method => :post } do |f| 
      %tr
        %th.pr_1 &nbsp;
        %th.pr_1.nw
          = f.text_field :email_like, :size => 25, :"data-clearable-field" => true
        %th.nw
          = f.select :gender_eq, [[ "Male", "m"], ["Female", "f"]], {:include_blank => "--"}, :class => "small", :"data-clearable-field" => true

  %tbody
    - @collection.each do |user|
      %tr[user]
        = render :partial => "one_object", :locals => { :user => user }

= will_paginate(@collection)