%ul.nav.pull-right
  %li.dropdown
    %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }}
      = fa_icon("user")

      - if current_user
        %span.hidden-phone= current_user.greeting
      %b.caret

    - if current_user
      %ul.dropdown-menu
        %li= link_to tt(User, :edit_profile), user_url
        %li= link_to tt(User, :logout), destroy_user_session_url, method: :delete

        - if current_user && current_user.is_admin?
          %li.divider
          - if admin_namespace?
            %li= link_to t("public_area"), root_url
          - else
            %li
              = link_to fa_icon("cogs") + " " + t("admin_area"), admin_root_url

    - else
      %ul.dropdown-menu
        %li= link_to t("devise.sign_in"), new_user_session_url

        - if User.respond_to?(:omniauth_providers)
          - User.omniauth_providers.each do |provider|
            %li= link_to t("devise.sign_in_with", provider: provider.to_s.titleize).html_safe, user_omniauth_authorize_path(provider)