!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{:name => "author", :content => "Ambicode http://www.ambicode.com" }
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}/
    %title= "#{AppConfig[:site_fullname]} : Admin"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

    = yield :head

  %body
    .container-fluid
      = render :partial => "admin/shared/menu"
      
      #content.admin
        = render :partial => "shared/flash_panel"
        = yield

      #footer
        = render :partial => "admin/shared/footer"